body {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614263687_14-p-cherno-belie-foni-dlya-detei-14.png);
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: rgb(48, 43, 43);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: rgb(48, 43, 43);
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
}

a {
  color: rgb(48, 43, 43);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  min-height: 100vh;
}

.copyright {
  font-family: Roboto, sans-serif;
  position: absolute;
  bottom: 2%;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.247);
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
}
.copyright > a {
  color: white;
}
.copyright a:hover {
  color: rgb(2, 11, 85);
}

.copyright svg {
  height: 25px;
  width: 40px;
  padding-left: 15px;
}
