.input {
  background: rgb(165, 30, 30);
  width: 10vw;
  height: 30px;
  color: #fff;
  text-indent: 20px;
  font-size: 16px;
}
.submit {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  width: 10vw;
  height: 30px;
  background: #00bb10;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 15px;
  margin-left: 40px;
}
